
:root {

    --azul: #012E40;
    --azulado: #025159;
    --azulzin: #038C8C;
    --verdeaz: #03A696;
    --laranja: #F28705;
    --font-size: 1.3rem;
    --sans: Oxygen, sans-serif;
        
}

body {
    padding: 0;
    margin: 0;
}

section {
    background-color: blue;
    font-family: var(--sans);
}